############################
# macOS
############################

.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*


############################
# Linux
############################

*~


############################
# Windows
############################

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp


############################
# Python
############################

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
*.mo
*.pot
local_settings.py
db.sqlite3
instance/
.webassets-cache
.scrapy
docs/_build/
target/
.ipynb_checkpoints
profile_default/
ipython_config.py
.python-version
celerybeat-schedule
*.sage.py
.spyderproject
.spyproject
.ropeproject
/site
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/

# Virtual environments
pyvenv.cfg
bin/
include/
Scripts/
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


############################
# Node.js
############################

node_modules/
.node_history
/.pnp
.pnp.js
lib-cov
lcov.info


############################
# Logs and databases
############################

*.log
*.sqlite
*.sqlite3
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
pids/


############################
# Archives / binaries
############################

*.7z
*.dat
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.o
*.seed
*.swo
*.swp
*.swn
*.swm
*.out
*.pid


############################
# Build and distribution
############################

build/
dist/
*.cache
coverage/


############################
# Environment
############################

.env
.env.local
.env.development.local
.env.test.local
.env.production.local


############################
# Editors and IDEs
############################

.vscode/
.idea/
nbproject/
.tmp


############################
# Strapi (id_be)
############################

license.txt
exports/
.strapi-updater.json
id_be/public/uploads/*
!id_be/public/uploads/.gitkeep


############################
# ML models
############################

model/


############################
# Runtime output
############################

results/
ssl/
*#
